Package: com.michael.apfs-deletefs
Version: 0.2.2
Section: System
Name: APFS Deletefs
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: coreutils, firmware (>= 10.3)
Architecture: iphoneos-arm
Description: A command line tool for deleting apfs partition on iOS/iPadOS.
Depiction: https://halo-michael.github.io/repo/info/apfs-deletefs
